*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    background-color: brown;
    
}

ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
ul li a {
    text-decoration:none ;
    color: white;
}

ul ul {
    display: none;
    position: absolute;
    left: 0;
}
ul li:hover ul {
    display: block;
}


