*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    width: 100%;
    background-color: #001850;
    justify-content:space-between;

}
nav ul{
    display: flex;
    list-style: none;
    padding-top: 5px;
}
 nav ul li{
     color: rgb(255, 255, 255);
     margin: 10px0;
     padding: 10px;
     font-size: 20px;

 }

 nav ul li a{
     text-decoration: none;
     color: white
 }
 nav img{
     width: 100%;
 }

 .redes{
     display: flex;
     padding: 10px;
 }
 .logo{
     padding: 10px;
 }
 .redes img{
     padding: 5px
 }
.encabezado{
    background-image: url(../img/paisaje2.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

.tarjeta{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
}

.tarjeta__desc{
    margin-top: 10px;
}
.btn{
    background-color:#001850 ;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
}
.tarjetas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #001850;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 10px;

}