*{
    margin: 0;
    padding: 0;
}
.caja1{
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 10;
}
.caja2{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    margin:10px;
    position: absolute;
    top: 80px;
    left: 30px;
    z-index: 20;
}
.caja3{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.contenedorCaja4{
    background-color: aqua;
    width: 400px;
    height: 300px;
    position: relative;
    z-index: 30;
}

.caja4{
    background-color: coral;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 30px;

}
.navbar{
    background-color: chocolate;
    width: 100%;
    height: 80px;
   position: sticky;
   top:0px;
   z-index: 40;
}