@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    font-family: Lato;
}

nav{
    background-color: rgb(255, 0, 0);
}
ul li {
    list-style: none;
} 
ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

h1{
    font-size: 48px;
    text-align: center;
    color: rgb(224, 11, 11);
    font-weight: 800;

}
.imagenPrincipal{
    width: 100%;
}

footer{
    font-size: 28px;
}
.imagenProductos{
    background-image: url(../img/ssl.jpg);
    width: 100%;
    height: 400px;
    background-size: contain;
    background-attachment: fixed;
}